body {
  background-color: white;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  left: 40px;


  
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: relative;
  left: 140px;
}

.yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
  position: relative;
  left: 240px;
}